h1
{
	font-family: Calibri, Arial, sans-serif;
	color:red;
}

#bloc_page
{
	text-align: center;
}

#connexion /* ca serait cool de pouvoir le faire coreectement mais j'ai pas trouvé comment faire encore*/
{
	text-align: left;
}

#bouton 
{
	border: 3px;
	background:red;
	color: white;
}

