body
{
	background-image: url("fondecran.jpg");

}

body
{
	text-align: center;

}

h1
{
	font-family: Calibri, Arial, sans-serif;
	font-size: 40px;
	color:orange;
}

h2
{
	font-family: Calibri, Arial, sans-serif;
	font-style: italic;
}



#connexion /* ca serait cool de pouvoir le faire correctement mais j'ai pas trouvé comment faire encore*/
{
	text-align: left;
}

.bouton
{
	width:150px;
	line-height:40px;
	text-align:center;
	vertical-align:middle;
	font-size: 16px;
	border-radius: 12px;
	background: orange;
	text-align: center;
	text-decoration: none;
}
